/* General */

html {
    font: arial;
}

.container{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 13px;
    line-height: 20px;
}


/* Header */

.header-container {
    background-color: #fff;
    height: 40px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px 0;
}
.header-container div{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 65px;
}

#header-title {
    color: #F6810A;
    font-weight: lighter;
    font-size: 20px;
}

/* Banner */

.banner-container {
    background-color: #121110;
    height: 600px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.banner-container .banner-container__box{
    background-color: #F6810A;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 500px;
}

.banner-container .banner-container__box .img_usr{
    height: inherit;
}

.banner-text {
    color: #fff;
    padding: 30px;
}

.banner-text p {
    padding-bottom: 30px;
}

.text-italic {
    font-size: 16px;
    font-style: italic;
    width: 272px;
}

.banner-text h1 {
    font-size: 40px;
    padding-bottom: 30px;
    word-wrap: break-word;
    width: 152px;
    line-height: 48px;
}

.click-box {
    background-color: #fff;
    width: 272px;
    font-size: 14px;
    border: 1px solid transparent;
    color: #F6810A;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 36px;
}

.click-box p {
    padding: 0;
    text-transform: uppercase;
}

/* mission */

.mission-container {
    background-color: #F2F6F9;
    height: 600px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.mission-container .mission-container__box {
    background-color: #fff;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 500px;
}

.mission-container .mission-container__box .img_miss {
    height: inherit;
}

.mission-text {
    padding: 50px;
    width: 272px;
}

.mission-text h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

#read-more {
    justify-content: start;
    padding-top: 16px;
}

/* slogan */

.slogan-container {
    background-color: #F6810A;
    width: 100%;
    height: 550px;
}

.slogan-text {
    margin-top: 30px;
}

.slogan-text p{
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 8px;
}

.pics-container {
    height: 420px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    width: 90%;
}
  
.column {
    flex: 33.33%;
    padding: 10px;
}

.column img{
    width: 100%;
}

/* info section */

.info {
    background-color: #fff;
    width: 100%;
    height: 265px;
    position: relative;
}

.info-background {
    background-color: #F2F6F9;
    height: 265px;
    width: 432px;
    top: 0;
    left: 0;
    position: absolute;
}

.info-text {
    width: 90%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
}

/* Function page */

.function-container {
    width: 100%;
    background-color: #fff;
    height: 700px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.title-box {
    height: 300px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

.title-box .img_miss{
    height: inherit;
}

.function-box {
    height: 300px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.function-box .img_miss{
    height: inherit;
}