/* General */

html {
    font: arial;
}

.container{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 13px;
    line-height: 20px;
}


/* Header */

.header-container {
    background-color: #fff;
    height: 40px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px 0;
}
.header-container div{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 65px;
}

#header-title {
    color: #F6810A;
    font-weight: lighter;
    font-size: 20px;
}

/* Banner */

.banner-container {
    background-color: #121110;
    height: 600px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.banner-container .banner-container__box{
    background-color: #F6810A;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 500px;
}

.banner-container .banner-container__box .img_usr{
    height: inherit;
}

.banner-text {
    color: #fff;
    padding: 30px;
}

.banner-text p {
    padding-bottom: 30px;
}

.text-italic {
    font-size: 16px;
    font-style: italic;
    width: 272px;
}

.banner-text h1 {
    font-size: 40px;
    padding-bottom: 30px;
    word-wrap: break-word;
    width: 152px;
    line-height: 48px;
}

.click-box {
    background-color: #fff;
    width: 272px;
    font-size: 14px;
    border: 1px solid transparent;
    color: #F6810A;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    transition: .5s;
    cursor: pointer;
}

.click-box p {
    padding: 0;
    text-transform: uppercase;
}

.click-box:hover {
    background-color: #F6810A;
    color: #fff;
    border: 1px solid #fff;
}

/* mission */

.mission-container {
    background-color: #F2F6F9;
    height: 600px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.mission-container .mission-container__box {
    background-color: #fff;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 500px;
}

.mission-container .mission-container__box .img_miss {
    height: inherit;
}

.mission-text {
    padding: 50px;
    width: 272px;
}

.mission-text h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

.mission-text p {
    padding-bottom: 16px;
}

#read-more {
    width: 100px;
}

#read-more p {
    text-align: center;
    padding-top: 18px;
}

#read-more:hover {
    background-color: #F6810A;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
}

/* slogan */

.slogan-container {
    background-color: #F6810A;
    width: 100%;
    height: 550px;
}

.slogan-text {
    margin-top: 30px;
}

.slogan-text p{
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 8px;
}

.pics-container {
    height: 420px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    width: 90%;
}
  
.column {
    flex: 33.33%;
    padding: 10px;
}

.column img{
    width: 100%;
}

/* info section */

.info {
    background-color: #fff;
    width: 100%;
    height: 265px;
    position: relative;
}

.info-background {
    background-color: #F2F6F9;
    height: 265px;
    width: 432px;
    top: 0;
    left: 0;
    position: absolute;
}

.info-text {
    width: 90%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
}

/* Function page */

.function-container {
    width: 100%;
    background-color: #fff;
    height: 700px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0;
}

.title-box {
    height: 300px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

.title-text {
    text-align: right;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 36px;
}

.title-text h3 {
    height: 30px;
    font-size: 36px;
    text-align: right;
}

.click-box-cinza {
    padding-top: 40px;
    flex-direction: row;
    justify-content: flex-end;
}

#more-info {
    background-color: #A6B6C6;
    color: #fff;
    transition: .5s;
    border: 2px solid transparent;
    border-radius: 2px;
}

#more-info:hover {
    background-color: #fff;
    color: #F6810A;
    border: 2px solid #F6810A;
    border-radius: 2px;
}

.title-box .img_miss{
    height: 372px;
    margin-top: auto;
}

.function-box {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.function-title {
    text-align: left;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 36px;
}

.function-title h3 {
    font-size: 36px;
    overflow-wrap: break-word;
    width: 372px;
    height: 72px;
    line-height: 36px;
}

.function-title p {
    margin-top: 24px;
}

.function-box .img_miss{
    height: 372px;
}

/* Dont Rush section */

.dontrush-container {
    height: 300px;
    width: 100%;
    background-color: #F6810A;
    position: relative;
}

.dontrush-box {
    width: 90%;
    border-left: 8px solid #fff;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 192px;
    top: 50%;
    transform: translateY(-50%);
}

.dontrush-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 88px;
}

.dontrush-text h3 {
    font-size: 36px;
    color: #fff;
    height: 40px;
}

.dontrush-text p {
    color: #fff;
}

/* do better section*/

.dobetter-container {
    background-color: #fff;
    height: 572px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.dobetter-box {
    height: 95%;
    width: 90%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.dobetter-box .img_miss {
    height: inherit;
    padding-right: 20px;
}

.dobetter-text {
    height: inherit;
    width: 400px;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: space-between;
}

.dobetter-text h3 {
    font-size: 36px;
    width: 242px;
    word-wrap: break-word;
    line-height: 40px;
    padding-top: 24px;
}

.dobetter-text h3, .dobetter-text p {
    padding-left: 16px;
}

.dobetter-box .dobetter-text .img_miss {
    width: inherit;
    height: 56%;
}

/* Assine nossa Newsletter */

.news-container {
    height: 300px;
    width: 100%;
    background-color: #D8E1E8;
    position: relative;
}

.news-box {
    width: 90%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 42px;
}

.news-text h3 {
    font-size: 36px;
    padding-bottom: 24px;
}

.news-text p {
    padding-bottom: 24px;
}

.news-container input {
    background-color: transparent;
    color: #90979D;
    border: 1.8px solid #7D848E;
    border-radius: 3px;
    width: 296px;
    padding: 10px;
    margin-right: 10px;
}

.news-container .submit {
    background-color: #F6810A;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    width: 104px;
    transition: .5s;
}

.news-container .submit:hover {
    background-color: #D8E1E8;
    color: #F6810A;
    border: 1.8px solid #F6810A;
}

.news-container input::placeholder {
    color: #90979D;
}

/* Footer */

.footer-container {
    background-color: #282d31;
    width: 100%;
    height: 264px;
    position: relative;
}

.footer-box {
    width: 90%;
    color: #fff;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.titles-container {
    width: inherit;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.titles-box {
    height: 160px;
    padding-top: 52px;
}

.titles-box h3 {
    font-size: 18px;
    padding-bottom: 12px;
}

.copyright {
    padding-bottom: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.copyright a {
    margin-left: 4px;
}